$primary-color: black;
$secondary-color: #eb7025;
$white-color: white;
$section-color: #ffd8d4;
$element-banner-color: #7777;
$title-color: #8b8a8a;
$shop_border: rgb(196, 193, 193);
$red-color: red;
$imge-bg-color: #f6f6f6;
$white: #ffffff;
$light-gray: #f6f6f6;
$gray: rgb(102, 102, 102);
$light-orange: #ffd287;

