@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
a::before{
    position:  'relative' !important;
}
.ant-menu .ant-menu-item a::before{
    position: relative !important;
}
li.ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child::after {
    display: none !important;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

