
.show-details-items {
  line-height: 2.571429 ;
  margin-left: 2em;
  .totol-item {
    color: #666;
  }
  .ant-typography {
    margin: 0% ;
  }

  .items-tex {
    width: 3rem;
  }
  .items-tex-total {
    color: #666;
  }
}
.items-price {
  line-height: 2.571429 ;
  color: #666;
}
// @media only screen and (max-width: 480px) {
//   .info_main .ant-col .ant-input{
//    width: none !important;
//   }
//   .info_main .info_password .ant-col .ant-input {
//     width: 12em !important;
//   }
//   .info_main .info_password .ant-btn{
//     position: absolute;
//     // left: 12em !important;
//   }
// }
